# Email Service Configuratie
# Voor Gmail: gebruik 'gmail' en genereer een app-specific password
# https://support.google.com/accounts/answer/185833

EMAIL_SERVICE=gmail
EMAIL_USER=jouw-email@gmail.com
EMAIL_PASSWORD=jouw-app-wachtwoord

# Server Configuratie
PORT=3000

# Alternatieve email services:
#
# Voor SendGrid:
# EMAIL_SERVICE=
# EMAIL_HOST=smtp.sendgrid.net
# EMAIL_PORT=587
# EMAIL_USER=apikey
# EMAIL_PASSWORD=jouw-sendgrid-api-key
#
# Voor Mailgun:
# EMAIL_SERVICE=
# EMAIL_HOST=smtp.mailgun.org
# EMAIL_PORT=587
# EMAIL_USER=jouw-mailgun-username
# EMAIL_PASSWORD=jouw-mailgun-password
